input {
    border-radius: 5px;
}

button {
    border-radius: 5px;
    background-color: #00b7ff;
}

.dark button {
    color: white;
    background-color: #00587b;
}

button:hover {
    background-color: #8ddfff;
}

.dark button:hover {
    background-color: #639eb6;
}

.dark {
    background-color: dimgray;
    color: white;
}

.title {
    text-align: center;
    margin-left: 45%;
    display: inline-block;
}

.modeSwitch {
    float: right;
}

.content {
    margin-left: 40%;
}

.Todo { 
    border-radius: 5px;
    background-color: #00b7ff;
    padding: 2px;
    padding-right: 5px;
    padding-left: 1px;
}

.dark .Todo {
    background-color: #00587b;
}

.TodoList {
    margin-bottom: 4px;
    padding: 1px;
}

.left-to-do {
    text-align: center;
    margin-top: 10px;
}