input {
    border-radius: 5px;
}

button {
    border-radius: 5px;
    background-color: #00b7ff;
}

.title {
    text-align: center;
}

.content {
    margin-left: 40%;
}

.Todo { 
    border-radius: 5px;
    background-color: #00b7ff;
    padding: 2px;
    padding-right: 5px;
    padding-left: 1px;
}

.TodoList {
    margin-bottom: 4px;
    padding: 1px;
}